

body
{background-color: lemonchiffon;}


p {background-color:lightskyblue;
  color: indianred;
  font-family: system-ui}


  .block,
li {
  border: 2px solid blue;
  padding: .5em;
list-style: none;}


