h1 {font-family: "Georgia", serif;
background-color: azure;}  
h2 {font-family: "Georgia", serif; 
background-color: azure;}
h4 {font-family: "Georgia", serif;
font-size: 1.2em;
background-color: azure;
margin: 30px 100px 30px 100px;}
body
{background-color: teal;}
p {font-family: "Georgia", serif;
margin: 30px 100px 30px 100px;
border: 2px 
  solid forestgreen;
  background-color: honeydew;
  }
img {float: left;
margin: 30px 100px 30px 100px;}
caption {caption-side:bottom}
a:hover {background-color: mintcream;}
a:link {text-decoration: none;} 
h3 {border: 2px 
  solid royalblue;
  background-color: paleturquoise;
  padding: .5em;}
.block,
.menu {background-color: lightcyan;
  padding: .5em;}  
