h1
{background-color: cyan;
color: indigo;
font: italic 1.4em "Fira Sans", serif;}
body
{background-color: violet;
border: solid;
border-color: black;}
p 
{background-color: cyan;
color: indigo;
font-family: Georgia, serif;}
