h1
{background-color: cyan;
color: indigo;
font:  1.4em "Fira Sans", serif;}
body
{background-color: violet;
border: solid;
border-color: black;}
p 
{background-color: cyan;
color: indigo;
font:  1.2em "cursive", serif;}
